@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: bold;
}

h2::selection {
  color: white;
  background-color: red;
}

h4::selection {
  color: #bb2d3b;
}

img {
  width: 175px;
}

img::selection {
  background-color: #bb2d3b;
}

.friend-div {
  /* width: 520px; */
  width: 70%;
  height: 550px;
  padding: 10px;
  margin: 50px;
  margin-top: 120px;
  border: 5px solid black;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.friend-div:hover {
  transform: scale(1.1, 1.1);
}
